[Desktop Entry]
Type=Application
Name=RPi_info_system.1.0.desktop

Exec=python3 /home/$USER/raspberry-info-system/RPi_info_system.1.0.py

Terminal=false
Categories=Application
